* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* BACKGROUND IMAGE */
body {
    color: white;
    background:
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)),
        url("images/bg.jpg") center/cover no-repeat;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: rgba(0,0,0,0.6);
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.active {
    border-bottom: 2px solid cyan;
}

.logo img {
  width: 120px;  
}

.login {
    color: cyan;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
    animation: fadeIn 2s ease;
}

.hero h1 {
    font-size: 50px;
}

.hero span {
    color: cyan;
}

.hero p {
    margin: 20px 0;
    font-size: 20px;
}

.main-btn {
    background: linear-gradient(45deg, purple, blue);
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.main-btn:hover {
    transform: scale(1.1);
}

/* TOOLS */
.tools {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 50px;
}

.card {
    background: rgba(0,0,50,0.7);
    padding: 20px;
    border-radius: 15px;
    width: 260px;
    text-align: center;
    transition: 0.3s;
    animation: slideUp 1.5s ease;
}

.card img {
    width: 80px;
    margin-bottom: 10px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px purple;
}

.btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, purple, rgb(30, 4, 220));
    color: white;
}

.learn {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background: #1e3a5f;
    color: white;
}

/* FOOTER */
footer {
    margin: 30px;
    padding: 15px;
    text-align: center;
    background: linear-gradient(45deg, purple, rgb(91, 5, 239));
    border-radius: 10px;
}

/* ANIMATIONS */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
body {
    margin: 0;
    font-family: Arial;
    color: white;

    background: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)),
        url("background.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* ABOUT PAGE */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 50px;
    min-height: 80vh;
}

/* LEFT SIDE TEXT */
.about-left {
    width: 35%;
    font-size: 18px;
    line-height: 1.6;
    animation: fadeInLeft 1.5s ease;
}

/* RIGHT SIDE */
.about-right {
    width: 50%;
    text-align: center;
    animation: fadeInRight 1.5s ease;
}

.about-right h1 {
    font-size: 50px;
}

.about-right span {
    color: cyan;
}

.about-right p {
    margin: 20px 0;
    font-size: 20px;
}

/* ANIMATIONS */
@keyframes fadeInLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
/* TOOLS HEADER */
.tools-header {
    text-align: center;
    padding: 80px 20px 30px;
}

.tools-header h1 {
    font-size: 50px;
}

.tools-header span {
    color: cyan;
}

/* SEARCH BAR */
#search {
    margin-top: 20px;
    width: 350px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: linear-gradient(45deg, purple, rgb(96, 5, 254));
    color: white;
}

/* TOOLS GRID */
.tools {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 50px;
    flex-wrap: wrap;
}
#search {
    box-shadow: 0 0 10px purple;
}
/* EXPLORE HEADER */
.explore-header {
    text-align: center;
    padding: 80px 20px 20px;
}

.explore-header h1 {
    font-size: 50px;
}

.explore-header span {
    color: cyan;
}

/* SMALL CARDS */
.explore-tools {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 30px 0;
    flex-wrap: wrap;
}

.small-card {
    background: rgba(0,0,50,0.7);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 180px;
    transition: 0.3s;
}

.small-card img {
    width: 70px;
    margin-bottom: 10px;
}

.small-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px purple;
}

/* INPUT BAR */
.explore-input {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.explore-input input {
    width: 400px;
    padding: 12px;
    border-radius: 10px 0 0 10px;
    border: none;
    background: linear-gradient(45deg, purple, rgb(22, 4, 223));
    color: white;
}

.explore-input button {
    padding: 12px 20px;
    border: none;
    border-radius: 0 10px 10px 0;
    background: white;
    cursor: pointer;
}
/* CONTACT PAGE */
.contact {
    text-align: center;
    padding: 80px 20px;
}

.contact h1 {
    font-size: 50px;
}

.contact span {
    color: cyan;
}

/* CHAT BUTTON */
.chat-btn {
    position: absolute;
    right: 50px;
    top: 120px;
    background: linear-gradient(45deg, purple, blue);
    padding: 12px 20px;
    border-radius: 10px;
}

/* FORM BOX */
.contact-box {
    margin: 40px auto;
    padding: 40px;
    width: 400px;
    background: linear-gradient(45deg, purple, darkblue);
    border-radius: 30px;
}

.contact-box input,
.contact-box textarea {
    width: 90%;
    padding: 12px;
    margin: 15px 0;
    border-radius: 10px;
    border: none;
}

.contact-box textarea {
    height: 80px;
}

/* SEND BUTTON */
.send-btn {
    padding: 10px 30px;
    background: #007bff;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
/* SIGNUP PAGE */
.signup {
    text-align: center;
    padding: 80px 20px;
}

.signup h2 {
    color: cyan;
}

/* LOGIN BOX */
.login-box {
    width: 400px;
    margin: 30px auto;
    padding: 30px;
    background: #eee;
    color: black;
    border-radius: 5px;
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

/* BUTTONS */
.login-btn,
.signup-btn {
    padding: 8px 15px;
    background: #6faed9;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.login-box a {
    display: block;
    margin: 10px 0;
    font-size: 14px;
}
nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

/* underline animation */
nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: cyan;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}          
nav ul li a:hover {
    color: cyan;
    text-shadow: 0 0 8px cyan;
}
nav ul li a.active {
    color: cyan;
}

nav ul li a.active::after {
    width: 100%;
}
nav {
    animation: fadeDown 1s ease;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.main-btn, .login {
    transition: 0.3s;
}

.main-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px purple;
}
